*{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

body{background-color: #ff9100 }

.container{
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    
    background-color: #f0f0f0;
    height:800px;
    border-radius: 1% 1% 1% 1%;  
}
@media(max-width:1600px) {
    .container{display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    
    background-color: #f0f0f0;
    height:1400px;
    border-radius: 1% 1% 1% 1%;
    }
    body{
        min-width: 600px;
    }
    #barra_pesquisa{
        width: 50px;
        position: relative;
        bottom: 10px;
    }
}
@media(max-width:1075px) {
    .container{display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    
    background-color: #f0f0f0;
    height:2200px;
    border-radius: 1% 1% 1% 1%;
    }
    body{
        min-width: 600px;
    }

}
.banner{
    display: flex;
    justify-content: space-around;
    height: 20svh;
    background-color: #ff9100;
    align-items: center;
}
#logo{
    display: flex;
    border-radius: 20px;
    background-color: aliceblue;
    height: 10svh;
    width:450px;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    font-size:150%;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
#a_liquid{
    background-color: #f0f0f0;
    text-decoration: none;
}

.box{

    display: inline-block;
    background-color: rgb(151, 151, 151);
    border: 1px solid black;
    height: 200px;
    width: 180px;
    margin: 20px;
    border-radius: 5% 5% 5% 5%;
    box-shadow: 7px 7px #c0c0c0;
    flex-shrink: 1;
}
#box1{
    background-image: url(/prova-parte2/imagens/camiseta_liquid.jpg);
    background-position: center;
}
#box2{
    background-image: url(/prova-parte2/imagens/camiseta_fnatic.jpg);
    background-position: center;
}
#box3{
    background-image: url(/prova-parte2/imagens/camiseta_w7m.jpg);
    background-position: center;
    background-size: 104%;
}
#box4{
    background-image: url(/prova-parte2/imagens/camiseta_g2.jpg);
    background-position: center;
    background-size: 104%;  
}
#box5{
    background-image: url(/prova-parte2/imagens/camiseta_pain.jpg);
    background-position: center;
    background-size: 130%;  
}
#box6{
    background-image: url(/prova-parte2/imagens/camiseta_nip.jpg);
    background-position: center;
    background-size: 104%; 
}
#box7{
    background-image: url(/prova-parte2/imagens/camiseta_rogue.jpg);
    background-position: center;
    background-size: 104%; 
}
#box8{
    background-image: url(/prova-parte2/imagens/camiseta_secret.jpg);
    background-position: center;
    background-size: 120%;  
}
#box9{
    background-image: url(/prova-parte2/imagens/camiseta_vitality.jpg);
    background-position: center;
    background-size: 120%;  
}
#item_nome{
    background-color: rgb(240, 240, 240);
    position: relative;
    left: 200px;
    width: 300px;
    text-shadow: 1px 1px #c0c0c0;
}
#item_info{
    background-color: rgb(240, 240, 240);
    position: relative;
    bottom: 10px;
    left: 200px;
    width: 300px;
    text-shadow: 1px 1px #c0c0c0;
}
#item_preco{
    background-color: rgb(240, 240, 240);
    position: relative;
    bottom: -10px;
    left: 200px;
    width: 300px;
    text-shadow: 1px 1px #c0c0c0;
}
#promo{
    background-color: red;
    color: white;
    text-align-last: center;
    position: relative;
    left: 200px;
    width: 200px;
    bottom: 5px;
    text-shadow: 1px 1px #c0c0c0;
}
#valor_original{
    background-color: rgb(240, 240, 240);
    text-decoration: line-through;
    text-shadow: 1px 1px #c0c0c0;
}
#barra_pesquisa{
    width: 100px;
    position: relative;
    bottom: 10px;
}

.rodape{
    height: 20svh;
}
a{
    text-decoration: none;
}
       

