body{
    background-color: cornflowerblue;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 500px;
    width: 500px;
    background-color: rgb(107, 187, 219);
    color: aliceblue;
    font-size: 50px;
}
